<!DOCTYPE html>
<html>
<head>
  <title>GoalsApp2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<table border=1>
		<tr>
			<th>
				<%= link_to "Goals", goals_url %>
			</th>
			<th>
				<%= link_to "Leaderboard", users_url %>
			</th>
			<th>
				<%= link_to "Make a New Goal", new_goal_url %>
			</th>
		</tr>
	</table>

  <%= button_to("Log Out", session_url, method: :delete) if !!current_user %>

<%= yield %>

</body>
</html>
