<!DOCTYPE html>
<html>
<head>
  <title>GoalsApp2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= button_to("Log Out", session_url, method: :delete) if !!current_user %>

<%= yield %>

</body>
</html>
